

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.header {
    background-color: #8c7fff; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 800px;
    height: 50px;

}

.header img {
    max-width: 65px;
    height: auto;
}

.header h1 {
    color: #add8e6;
    margin: 0 auto;
    font-size: 45px;
    text-align: right;
    
}

.container {
    background-color:rgb(189, 247, 247);
    width: 840px;
    height: 70px;
    display:flex;
    align-items: center;
    gap: 280px; 
    /* gap - промежуток между колонок */
}

.left-column {
    text-align: left;
    margin-left: 10px;
}

.right-column {
    text-align: center;
}

main {
    background-color:rgb(231, 230, 230);
    width: 840px;
}


.block1 {
    display: flex;
}

.text h2 {
    
    display: inline;
    vertical-align: auto;
    font-size: 25px;
    color: rgb(232, 109, 65);
    margin-left: 10px;
}

.text p {
    margin-left: 10px;
    
    text-align: justify;
    margin-top: 40px;
    
    padding-right: 10px;
}

.image img {
    margin-top: 10px;
    padding-right: 10px;
    
}

.block2 {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    margin-top: 20px;
    width: 100%;
}

.column-1 {
    width: 30%;
}

.column-1-1 {
    text-align: justify;
    padding-left: 10px;
}

.column-2  {
    text-align: justify;
    padding-left: 20px;
    padding-right: 10px;
    flex-basis: 0;
    flex-grow: 1;
    width: 35%;
    
}


.column-3  { 
    flex-basis: 0;
    flex-grow: 1;
    width: 35%;
    text-align: justify;
    padding-left: 10px;
    padding-right: 20px;
}





.block2 img {
    margin-left: 10px;
}

.footer {
    background-color: #8c7fff; 
    padding: 20px;
    width: 800px;
    height: 20px;
}

.cup {
    
    font-weight: 700;
    color:rgb(101, 101, 209);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}